.sqr {
  width: 120px;
  aspect-ratio: 1;
  display: grid;
  cursor: pointer;
  rotate: 1turn;
  transition: 1s cubic-bezier(.35,.54,.8,.96);
}
.sqr:before {
  content:"";
  background-image: conic-gradient(#f00, #ff0, #0f0, #0ff, #00f, #f0f, #f00);
  border-radius: 10px;
  transition: 99999s;
}
.sqr:hover:before {
  rotate: 80turn;
  transition: 50s;
}
.sqr:hover {
  rotate: 0turn;
  transition: 0s;
}
body {
  background-image: radial-gradient(circle, #333, #000 400px);
  margin: 0;
  min-height: 100vh;
  display: grid;
  place-content: center;
}